/* ======================
  RESET
====================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ======================
  GLOBALS
====================== */
body {
  background-color: #0e1f2f;
}

/* ======================
  LAYOUT
====================== */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.game-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  width: 100%;
}

/* ======================
  COMPONENTS
====================== */
.cell {
  width: 100px;
  height: 100px;
  background-color: #6dbefe;
}

.bomb {
  background-color: red;
}

.safe {
  background-color: green;
}

.win,
.lose {
  display: none;
  text-align: center;
}
